body {
  background-color: black;
}

body {
  color: white;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 30px;
}

h3 {
  text-align: center;
}

p {
  font-size: 20;
}

p {
  text-align: center;
}

div {
   object-position: center;
}