body {
  background-color: black;
}

body {
  color: white;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 6vw
}

h2 {
  font-size: 3.5vw
}

h2 {
  text-align: center;
}

h3 {
  font-size: 3vw
}

h3 {
  text-align: center;
}

p {
  font-size: 2vw
}

p {
  text-align: center;
}

div {
   object-position: center;
}



a:link {
  color: grey
}

a:visited {
  color: grey
}

a:hover {
  color: white
}

a:active {
  color: white
}
