body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 8vw
}

h2 {
  font-size: 5.5vw
  text-align: center;
}

h3 {
  font-size: 5vw
  text-align: center;
}

p {
  font-size: 3vw
  text-align: left;
}

div {
   object-position: center;
}

h4 {
  text-align: right;
  font-size: 4vw;
}

h5 {
  text-align: center;
  font-size: 4vw;
}



a:link {
  color: grey
}

a:visited {
  color: grey
}

a:hover {
  color: white
}

a:active {
  color: white
}
